@font-face {
  font-family: stardos-bold;
  src: url("../fonts/StardosStencil-Bold.ttf"); }

@font-face {
  font-family: tofino;
  src: url("../fonts/TofinoProPersonal-Semibold.otf"); }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0.05; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0.05; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

body {
  margin: 0; }
  body .main-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-animation: fade-in 1.2s;
    animation: fade-in 1.2s; }
    body .main-page-container .__container__main__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 75vh;
      position: relative; }
      body .main-page-container .__container__main__header .__header__image {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0; }
      body .main-page-container .__container__main__header .__header__image__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
        body .main-page-container .__container__main__header .__header__image__block .block__container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-preferred-size: 40%;
          flex-basis: 40%; }
        body .main-page-container .__container__main__header .__header__image__block .block__container__main {
          width: 25%;
          height: 79%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          background-color: black;
          position: relative;
          top: 5%;
          left: 10%;
          padding-left: 3%; }
          body .main-page-container .__container__main__header .__header__image__block .block__container__main .block__container__text__main {
            font-size: 132px;
            width: 90%;
            color: white;
            position: relative;
            top: -18%;
            line-height: 125px;
            font-family: stardos-bold;
            text-align: center; }
          body .main-page-container .__container__main__header .__header__image__block .block__container__main .block__container__text__secondary {
            color: white;
            font-family: tofino;
            font-size: 28px;
            width: 80%;
            padding-left: 2%;
            text-align: center;
            position: relative;
            top: -52%; }
          body .main-page-container .__container__main__header .__header__image__block .block__container__main .block__container__text__ {
            color: white;
            font-family: tofino;
            font-size: 28px;
            width: 100%;
            position: relative;
            top: -62%; }
    body .main-page-container .__container__main__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
      min-width: 60%;
      margin: 0 auto;
      padding-top: 2%;
      padding-left: 10%; }
      body .main-page-container .__container__main__body .__container__four__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap; }
        body .main-page-container .__container__main__body .__container__four__grid div {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          height: 30%;
          -ms-flex-preferred-size: 24.5%;
          flex-basis: 24.5%; }
          body .main-page-container .__container__main__body .__container__four__grid div .__grid__item__date {
            color: black;
            font-size: 13.6px;
            font-family: stardos-bold; }
          body .main-page-container .__container__main__body .__container__four__grid div .__grid__item__location {
            background-color: black;
            height: 20px;
            max-width: 150px;
            padding-left: 10px;
            padding-top: 5px;
            color: white;
            font-family: tofino;
            font-size: 13.6px;
            position: relative;
            top: -10px; }
          body .main-page-container .__container__main__body .__container__four__grid div .__grid__item__venue {
            color: black;
            font-family: tofino;
            font-size: 13.6px;
            max-width: 180px;
            position: relative;
            top: -15px; }
          body .main-page-container .__container__main__body .__container__four__grid div:hover .__grid__item__location {
            background-color: #F4D03F;
            color: black;
            cursor: pointer; }
          body .main-page-container .__container__main__body .__container__four__grid div:hover .__grid__item__venue {
            text-decoration: underline;
            -webkit-text-decoration-color: #F4D03F;
            text-decoration-color: #F4D03F; }
        @media only screen and (max-width: 480px) {
          body .main-page-container .__container__main__body .__container__four__grid {
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
            body .main-page-container .__container__main__body .__container__four__grid div {
              -ms-flex-preferred-size: 40%;
              flex-basis: 40%;
              height: 10%; } }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          body .main-page-container .__container__main__body .__container__four__grid div {
            -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
            height: 10%; } }
