
@import '../mixins/index.scss';

@font-face {
    font-family: stardos-bold; 
    src: url('../fonts/StardosStencil-Bold.ttf')
}

@font-face {
    font-family: tofino;
    src: url('../fonts/TofinoProPersonal-Semibold.otf')
}

@keyframes fade-in {
    0%   { opacity: 0.05 }
    25%  { opacity: 0.25 }
    50%  { opacity: 0.5 }
    75%  { opacity: 0.75 }
    100% {opacity: 1}
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

body {
    margin: 0;
    .main-page-container {
        display: flex;
        min-height: 100vh;
        width: 100%;
        flex-flow: column nowrap;
        animation: fade-in 1.2s;
        .__container__main__header {
            display: flex;
            height: 75vh;
            position: relative;
            &:after {
                content:"";
                background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255, 255, 255,0.75), rgba(255, 255, 255,0));
                display: block;
                height:90px;
                width: 100%;
                border-top: -1;
                position: absolute;
                bottom: 0;
            }
            .__header__image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
            }
            .__header__image__block {
                display: flex;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
                flex-flow: row wrap;
                .block__container {
                    display: flex;
                    flex-basis: 40%;
                }
                .block__container__main {
                    width: 25%;
                    height: 79%;
                    display: flex;
                    flex-flow: column nowrap;
                    background-color: black;
                    position: relative;
                    top: 5%;
                    left: 10%;
                    padding-left: 3%;
                    .block__container__text__main {
                        font-size: 132px;
                        width: 90%;
                        color: white;
                        position: relative;
                        top: -25%;
                        line-height: 125px;
                        font-family: stardos-bold;
                        text-align: center;
                        // animation: typing 3.5s steps(30, end);
                    }
                    .block__container__text__secondary {
                        color: white;
                        font-family: tofino;
                        font-size: 28px;
                        width: 80%;
                        padding-left: 2%;
                        text-align: center;
                        position: relative;
                        top: -58%;
                    }

                    .block__container__text__ {
                        display: none;
                        color: white;
                        font-family: tofino;
                        font-size: 28px;
                        width: 100%;
                        position: relative;
                        top: -67%;
                    }

                    .block__alternating__text {
                        text-align: center;
                        display: none;
                        font-family: tofino;
                        font-size: 18px;
                        color: #F2F3F4;
                        position: relative;
                        top: -74%;
                        right: 8%;
                        animation: fade-in .5s;
                    }

                }
            }
        }
        .__container__main__body {
            display: flex;
            flex-basis: 65%;
            flex-flow: column nowrap;
            min-width: 60%;
            margin: 0 auto;
            padding-top: 2%;
            padding-left: 10%;

            .__container__four__grid {
                @include four-grid-container;
                flex-basis: 70%;
                margin-bottom: 5%;
            }
            .__bus__container {
                display: flex;
                flex-basis: 30%;
                flex-flow: row wrap;

                .--top {
                    position: relative;
                    padding-bottom: 10%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                } 
                .__bus__container__item {
                    display: flex;
                    flex-basis: 50%;
                    .--image  {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .--text {
                        font-size: 22px;
                        font-family: stardos-bold;
                        height: 30px;
                        width: 20px;
                        margin-right: 25%;
                        align-self: flex-end;
                        text-decoration: underline;
                        text-decoration-color: #F4D03F;
                        &:hover {
                            cursor: pointer;
                            font-size: 22.8px;
                        } 
                    }
                    .--inline {
                        font-size: 21px;
                        font-family: stardos-bold;
                        display: inline;
                        align-self: flex-end;
                    }
                }
            }
        }
        .rescheduled__pointer__ {
            margin: 0 auto;
            height: 5.5rem;
            width: 38%;
            background-color: #F4D03F;
            color: black;
            text-align: center;
            margin-bottom: 2%;
            position: relative;
            left: -5%;
            p {
                font-family: stardos-bold;
                font-size: 1.4rem;
            }
        }
    }
}