@media only screen and (max-height: 600px) {
  #block__container__main {
    height: 320px !important; } }

@media only screen and (max-width: 480px) {
  body {
    overflow-x: hidden; }
  .__container__main__body {
    padding-left: 0 !important; }
  .__header__image__block .block__container {
    display: none !important; }
  .__header__image__block .block__container__main {
    width: 250px !important;
    height: 350px !important;
    background-color: #000000 !important;
    padding-right: 5%;
    padding-top: 10%;
    margin: 0 auto;
    top: 10% !important;
    left: 0 !important; }
    .__header__image__block .block__container__main .block__container__text__main {
      font-size: 70px !important;
      line-height: 67px !important;
      text-align: center; }
    .__header__image__block .block__container__main .block__container__text__secondary {
      font-size: 25px !important;
      width: 100% !important;
      top: -42% !important; }
    .__header__image__block .block__container__main .block__container__text__ {
      font-size: 24px !important;
      width: 100%;
      top: -52% !important;
      text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .__container__main__header {
    height: 50vh !important; }
    .__container__main__header .block__container__main {
      height: 75% !important;
      width: 35% !important;
      top: 10% !important;
      padding-right: 4%; }
      .__container__main__header .block__container__main .block__container__text__main {
        font-size: 90px !important;
        line-height: 85px !important;
        text-align: center; }
      .__container__main__header .block__container__main .block__container__text__secondary {
        font-size: 26px !important;
        width: 100% !important;
        top: -42% !important; }
      .__container__main__header .block__container__main .block__container__text__ {
        font-size: 25px !important;
        width: 100%;
        top: -52% !important;
        text-align: center; } }

@media only screen and (width: 1024px) {
  .__container__main__header {
    height: 40vh !important; }
    .__container__main__header .block__container__main {
      height: 73% !important;
      width: 35% !important;
      top: 10% !important;
      padding-right: 2%; }
      .__container__main__header .block__container__main .block__container__text__main {
        font-size: 95px !important;
        line-height: 85px !important;
        text-align: center; }
      .__container__main__header .block__container__main .block__container__text__secondary {
        font-size: 26.5px !important;
        width: 100% !important;
        top: -42% !important; }
      .__container__main__header .block__container__main .block__container__text__ {
        font-size: 25.5px !important;
        width: 100%;
        top: -52% !important;
        text-align: center; } }
