$mobileBreakpoint: 480px;
$briefPhoneBreakPoint: 600px;

@media only screen and (max-height: $briefPhoneBreakPoint) {
    #block__container__main {
        height: 320px !important
    }
    #alternating-text {
        top: -61% !important;
        font-size: 15px !important;
    }

    #__website__ {
        font-size: 16px !important;
    }

    #__banku__ {
        font-size: 15px !important;
        flex-basis: 50% !important;
        bottom: -14% !important;
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    body {
        overflow-x: hidden;
    }
    .__container__main__body {
        padding-left: 0 !important;

    }
    .__header__image__block {
        .block__container {
            display: none !important;
        }
        .block__container__main {
            width: 250px !important;
            height: 350px !important;
            background-color: #000000!important;
            padding-right: 3%;
            padding-top: 10%;
            margin: 0 auto;
            top: 10% !important;
            left: 0 !important;
            .block__container__text__main {
                font-size: 70px !important;
                line-height: 67px !important;
                text-align: center;
                right: -5%;
            }
            .block__container__text__secondary {
                font-size: 25px !important;
                width: 100% !important;
                top: -42% !important;

            }

            .block__container__text__ {
                font-size: 24px !important;
                width: 100%;
                top: -52% !important;
                text-align: center;
            }

            .block__alternating__text {
                top: -56% !important;
                right: 0 !important;
                font-size: 16px !important;
            }

        }
    }
    .--top {
        padding-bottom: 5% !important;
        display: flex !important;
        flex-flow: row nowrap;
        justify-content: space-evenly !important;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .__bus__container__item {
        flex-basis: 100% !important;
        .--text {
            font-size: 19px !important;
            flex-basis: 30%;
            margin: 0 !important;
        }
        .--inline {
            font-size: 18px !important;
            display: flex !important;
            flex-basis: 50%;
            position: relative;
            bottom: -19% !important;
        }
    }
}

// IPAD AND TABS
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .__container__main__header {
        height: 50vh !important;

        .block__container__main {
            height: 75% !important;
            width: 35% !important;
            top: 10% !important;
            padding-right: 4%;
            .block__container__text__main {
                font-size: 90px !important;
                line-height: 85px !important;
                text-align: center;
                top: -15% !important;
                right: -5%;
            }
            .block__container__text__secondary {
                font-size: 26px !important;
                width: 100% !important;
                top: -42% !important;

            }
            .block__container__text__ {
                font-size: 25px !important;
                width: 100%;
                top: -52% !important;
                text-align: center;
            }

            .block__alternating__text {
                top: -60% !important;
                right: 0 !important;
            }
        }
    }
    .--text {
        margin-right: 35% !important;
    }
}


@media only screen and (width: 1024px) {
    .__container__main__header {
        height: 40vh !important;

        .block__container__main {
            height: 73% !important;
            width: 35% !important;
            top: 10% !important;
            padding-right: 2%;
            .block__container__text__main {
                font-size: 95px !important;
                line-height: 85px !important;
                text-align: center;
                top: -15% !important;
                right: -5%;
            }
            .block__container__text__secondary {
                font-size: 26.5px !important;
                width: 100% !important;
                top: -42% !important;

            }
            .block__container__text__ {
                font-size: 25.5px !important;
                width: 100%;
                top: -52% !important;
                text-align: center;
            }

            .block__alternating__text {
                top: -53% !important;
                font-size: 20px;
                right: 0 !important;
            }
        }
    }
}

