@mixin four-grid-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    div {  
        @include grid-item;
        flex-basis: 24.5%;
    }
}

@mixin grid-item {
    flex-flow: column nowrap;
    height: 30%;
    .__grid__item__date {
        color: black;
        font-size: 13.6px;
        font-family: stardos-bold;
    }
    .__grid__item__location {
        background-color: black;
        height: 20px; 
        max-width: 150px;
        padding-left: 10px;
        padding-top: 5px;
        color: white;
        font-family: tofino;
        font-size: 13.6px;
        position: relative;
        top: -10px;
    }
    .__grid__item__venue {
        color: black;
        font-family: tofino;
        font-size: 13.6px;
        max-width: 180px;
        position: relative;
        top: -15px;
    }
    &:hover {
        .__grid__item__location {
            background-color:#F4D03F;
            color: black;
            cursor: pointer;
        }
        .__grid__item__venue {
            text-decoration: underline;
            text-decoration-color: #F4D03F
        }
    }
}